* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Fjalla One', sans-serif;
  background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #ABCDEF;
}

#lines {
  position: absolute;
  clear:both;
  display: inline-block;
  width:100px;
  height:100px;
  top: 500px;
  left: 100px;
  line-height: 100px;
  font-size: 4em;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  background-color: white;
  border-radius: 10px;
  border: 10px solid black;
}

#canvas-container {
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

#canvas {
  background-color:rgba(255, 255, 255, 0.95);
  height: 600px;
  width: 400px;
  margin: 0 auto;
  vertical-align middle;
  display: block;
  box-shadow: 10px 10px 10px #444;
  border: 2px solid #333;
  transition: box-shadow 3s, transform 2.5s;
}

#preview {
  position: absolute;
  clear:both;
  display: inline-block;
  width:100px;
  height:100px;
  top: 500px;
  left: 800px;
  line-height: 100px;
  font-size: 4em;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  background-color: white;
  border-radius: 10px;
  border: 10px solid black;
}

#hold {
  position: absolute;
  clear:both;
  display: inline-block;
  width:100px;
  height:100px;
  top: 350px;
  left: 800px;
  line-height: 100px;
  font-size: 4em;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  background-color: white;
  border-radius: 10px;
  border: 10px solid black;
}


#game-over {
  position: absolute;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  font-size: 8em;
  color: black;
  text-align: center;
  background-color: #AAA;
  transition: all 2s;
  z-index: 5;
}

.instructions {
  font-size: .3em;
}
